apiVersion: cluster.open-cluster-management.io/v1
kind: ManagedCluster
metadata:
  name: {{ cluster_name }}
  labels: 
    role: {{ cluster_role | default('microshift') }}
spec:
  hubAcceptsClient: true
  leaseDurationSeconds: 12000
  managedClusterClientConfigs:
  - url: https://{{ device_ip | default('test') }}:6443  